p.
	ZeusView is Graph Broswer on Steroids. By building the things which are of interest to one, you establish an "Area of Operation"(AOP) which you can lord over. At least keep a close eye on.
	This AOP needs to be defined and setup. Once its is done with all the IOT, you will have the ability to see everything. 
br
p
	|Below are features that Zeus View will have:
	ul(style="list-style-type: circle;")
		li Graph Browers. (You have to own your own Neo4j Graph DB. Otherwise, You can only depend on published model) 
		li User Specific Theme (Your graph the way you want to see it)*
		li Node Related Searching*
		li Google Map Integration for Tracking real world event geographically.*
		li State Monitoring*
		li State Change Alerts*
		li Specific Information Model*
		li User Profile from Google, Facebook, LinkedIn, Twitter*
		li Social Network Integration*
		li Internet of Things*
		li APIs inteface.
br
p
	|As you can see, we are still a work in progress. Keep a watch out of this space. 
br
br
br
i
	|If you have question email : jamez.tang@zeusview.com