//- This list tracks the necessary javascript files to run sigma. Excludes the extention.
script(src="/javascripts/sigma/sigma.core.js")
script(src="/javascripts/sigma/conrad.js")
script(src="/javascripts/sigma/utils/sigma.utils.js")
script(src="/javascripts/sigma/utils/sigma.polyfills.js")
script(src="/javascripts/sigma/sigma.settings.js")
script(src="/javascripts/sigma/classes/sigma.classes.dispatcher.js")
script(src="/javascripts/sigma/classes/sigma.classes.configurable.js")
script(src="/javascripts/sigma/classes/sigma.classes.graph.js")
script(src="/javascripts/sigma/classes/sigma.classes.camera.js")
script(src="/javascripts/sigma/classes/sigma.classes.quad.js")
script(src="/javascripts/sigma/classes/sigma.classes.edgequad.js")
script(src="/javascripts/sigma/captors/sigma.captors.mouse.js")
script(src="/javascripts/sigma/captors/sigma.captors.touch.js")
script(src="/javascripts/sigma/renderers/sigma.renderers.canvas.js")
script(src="/javascripts/sigma/renderers/sigma.renderers.webgl.js")
script(src="/javascripts/sigma/renderers/sigma.renderers.svg.js")
script(src="/javascripts/sigma/renderers/sigma.renderers.def.js")
script(src="/javascripts/sigma/renderers/webgl/sigma.webgl.nodes.def.js")
script(src="/javascripts/sigma/renderers/webgl/sigma.webgl.nodes.fast.js")
script(src="/javascripts/sigma/renderers/webgl/sigma.webgl.edges.def.js")
script(src="/javascripts/sigma/renderers/webgl/sigma.webgl.edges.fast.js")
script(src="/javascripts/sigma/renderers/webgl/sigma.webgl.edges.arrow.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.labels.def.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.hovers.def.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.nodes.def.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edges.def.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edges.curve.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edges.arrow.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edges.curvedArrow.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edgehovers.def.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edgehovers.curve.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edgehovers.arrow.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js")
script(src="/javascripts/sigma/renderers/canvas/sigma.canvas.extremities.def.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.utils.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.nodes.def.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.edges.def.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.edges.curve.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.labels.def.js")
script(src="/javascripts/sigma/renderers/svg/sigma.svg.hovers.def.js")
script(src="/javascripts/sigma/middlewares/sigma.middlewares.rescale.js")
script(src="/javascripts/sigma/middlewares/sigma.middlewares.copy.js")
script(src="/javascripts/sigma/misc/sigma.misc.animation.js")
script(src="/javascripts/sigma/misc/sigma.misc.bindEvents.js")
script(src="/javascripts/sigma/misc/sigma.misc.bindDOMEvents.js")
script(src="/javascripts/sigma/misc/sigma.misc.drawHovers.js")