//- This list tracks the additional javascript files to run sigma plugins

script(src="/javascripts/sigma_plugins/sigma.layout.forceAtlas2/worker.js")
script(src="/javascripts/sigma_plugins/sigma.layout.forceAtlas2/supervisor.js")
script(src="/javascripts/sigma_plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js")
script(src="/javascripts/sigma_plugins/sigma.renderers.edgeLabels/settings.js")
script(src="/javascripts/sigma_plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js")
script(src="/javascripts/sigma_plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js")
script(src="/javascripts/sigma_plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js")