extends appLayOutSkeleton

block content
	p
		|ZeusView is a an application that help you keep track of things which are of interested to you. The below are some of the features of ZeusView:
		ul(style="list-style-type: circle;")
			li Nodes/Asset Browser
			li Relationship Browser
			li Relationship Travsals
			li State Change Notification
	br
	p
		|We are still developing various data model to provide that off the shelf usage. Keep a watch out of this space. 