extends defaultLayout

append styles
	link(rel='stylesheet', href='/stylesheets/centerFocusLayout.css')

block bodyContent
	div#wrapper
		div#content
			div.center
				div.headingText
					|ZeusView : Seeing Everything
				form(method="post" action="/login" id="loginForm")
					table(class="translucent" align="center")
						tr
							td 
								|Username:
							td  
								input(type = "text", col = "50" name = "username" placeholder = "username")
						tr
							td
								|Password:
							td
								input(type = "password", col = "50" name = "password" placeholder = "password")
						tr
							td(colspan=2 align="center")
								input(type = "submit")
			div(class="center")
				button(id="customBtn" onclick='window.location.href="/login/google"') Sign in with Google
block footer
	div.footer 
		div.footerContent
			|Copyright 2015 ©ZeusView