doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/loginLayout.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
		
		
	body
		div(id="fb-root")
		script(src="/javascripts/fblogin.js")
		div(id="header")
		div(id = "content")
			div(class="center")
				form(method = "post" action= action id="searchStockForm")
					table(class = "transparentTable")
						tr
							td 
								|Username:
							td  
								input(type = "text", col = "50" name = "username" placeholder = "username")
						tr
							td
								|Password:
							td
								input(type = "password", col = "50" name = "password" placeholder = "password")
						tr
							td(colspan=2 align="center")
								input(type = "submit")
			div(class="center")
				button(id="customBtn" onclick='window.location.href="/login/google"') Sign in with Google
				div(class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false")
		div
			p
				message