extends layout

block content
	div(class = "inlineDialog")
		form(method = "post" action= action id="searchStockForm")
			table(class = "transparentTable")
				tr
					td 
						|Username:
					td  
						input(type = "text", col = "50" name = "username" placeholder = "username")
				tr
					td
						|Password:
					td
						input(type = "password", col = "50" name = "password" placeholder = "password")
				tr
					td(colspan=2 align="center")
						input(type = "submit")

	div 
		p
			message
	
