extends fragments_form_layout

block formContent
	div
		label
			|Stock Symbol 
			input(type="text", col="50" name="sym" placeholder="Stock symbol")
	div
		span
			input(name="submit" type="submit" value="Search and Save")
	p.
		Display the top appointment holders of the listed company. 
	