extends layout

block content
  h1= title
    
  div 
    form(method="post" action= action id"searchStockForm") Searching for 
      input(type="text", col="50" name="searchStockSymbol" placeholder="The stock symbol or name")
      input(type="submit")
