extends fragments_form_layout

block formContent
	div
		label
			|Searching For 
			input(type="text", col="50" name="searchStockSymbol" placeholder="Stock symbol or name")
	div
		span
			input(name="submit" type="submit" value="Search and Save")
	p.
		List the listed company that may be related to your search.