extends fragments_form_layout

block formContent
	div
		label
			|Searching For 
			input(type="text", col="50" name="searchStockSymbol" placeholder="Stock symbol or name")
	div
		span
			input(name="submit" type="submit" value="Search and Save")
	p.
		List the listed company that may be related to your search.
		
	script. 
		function validateForm(form){
			$.post(form.action, {"submit":form.submit.value,"searchStockSymbol":form.searchStockSymbol.value}, function (data) {
				console.log(data.length);
				console.log(JSON.stringify(data[0]));
				$("#page-content").empty();
				$("#page-content").html("<pre>"+JSON.stringify(data,undefined, 4)+"</pre>");
			});
			return false;
		}