//-This template is not intented to be used by iteself. 
//-Extend this template accordingly.
doctype html
html
	head
		title #{title}
		
		block meta
		
		block styles
					
		block scripts
					
	body
		block bodyContent
		
		block footer
		
		
	