
span.leftHalf {
	text-align:left;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
}

span.rightHalf {
	text-align:right;
	-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
}

span.username_Display {
	font-size:12px;
}

div.list_Header{
	font-weight:bold;
	font-size:18px;
	padding: 5px;
}

div.footer{
	font-size:10px;
	display: -webkit-flex;
	display: flex;
	width=100%;
}

div.footerContent{
-webkit-flex: 1; /* Safari 6.1+ */
    -ms-flex: 1; /* IE 10 */ 
    flex: 1;
	text-align:center;
}
div.headingText{
	font:24px bold;
}